@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, sans-serif;
}
:root,
body {
  color-scheme: dark;
  background: #000;
}
.sidebar {
  color-scheme: light;
}
.sidebar a {
  display: block;
  font-weight: 500;
}
.sidebar a:hover {
  background: #99999930;
}
.sidebar h3 {
  margin-top: 20px;
  font-weight: 400;
}
.sidebar h3::beffore {
  display: inline-block;
  content: "›";
  position: relative;
  font-size: 20px;
  top: 2px;
  color: #999;
  padding-right: 3px;
}
.ppost {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #414f62;
  /* letter-spacing: 0.32px; */
}
.ppost ul {
  list-style-type: square;
  margin-left: 20px;
}
.ppost p {
  margin-bottom: 10px;
}
body {
  background: url("/slopes.png") no-repeat;
  background-position-x: center;
  background-color: #090909;
  background-size: 1800px;
  background-position-y: -300px;
  margin: 0;
  min-height: 100vh;
}
